[build-system]
# Todo: Why would I want to use a different build system?
# SetupTools
requires = ["setuptools>66", "setuptools-scm"]
build-backend = "setuptools.build_meta"
# Flit
#requires = ["flit_core >=3.2,<4"]
#build-backend = "flit_core.buildapi"
# Hatchling
#requires = ["hatchling"]
#build-backend = "hatchling.build"
# PDM-Backend
#requires = ["pdm-backend"]
#build-backend = "pdm.backend"

[project]
name = "vultron"
authors = [
    { name = "Allen D. Householder", email="adh@cert.org" },
]
description = "A prototype implementation of the Vultron protocol."
readme = {file="README.md", content-type="text/markdown"}
requires-python = ">=3.8"
keywords =["vultron","cvd","vulnerability disclosure"]
license = {file="LICENSE.md"}
classifiers = [
    "Development Status :: 1 - Planning",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Topic :: Security",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
dependencies = [
    "mkdocs","mkdocs-material","mkdocs-material-extensions","mkdocstrings","mkdocstrings-python",
    "mkdocs-include-markdown-plugin", "pandas","scipy"
]
dynamic = ["version",]

[project.scripts]
vultrabot_pacman_demo="vultron.bt.base.demo.pacman:main"
vultrabot_demo="vultron.bt.base.demo.robot:main"

[project.urls]
"Homepage" = "https://certcc.github.io/Vultron"
"Project" = "https://github.com/CERTCC/Vultron"
"Bug Tracker" = "https://github.com/CERTCC/Vultron/issues"

[tool.setuptools.packages.find]
where = ["."]  # list of folders that contain the packages (["."] by default)
include = ["vultron*"]  # package names should match these glob patterns (["*"] by default)
exclude = ["test*"]  # exclude packages matching these glob patterns (empty by default)
#namespaces = false  # to disable scanning PEP 420 namespaces (true by default)

[tool.setuptools_scm]
version_file = "vultron/_version.py"

#[tools.setuptools.dynamic]

[tool.black]
line-length = 79
target-version = ['py38', 'py39', 'py310', 'py311']

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"
testpaths = [
    "test",
]