dataclasses-json==0.6.7
markdown-exec==1.11.0
mkdocs==1.6.1
mkdocs-autorefs==1.4.2
mkdocs-bibtex==4.4.0
mkdocs-include-markdown-plugin==7.1.6
mkdocs-material-extensions==1.3.1
mkdocs-material==9.6.16
mkdocs-print-site-plugin==2.7.3
mkdocstrings-python==1.16.12
mkdocstrings==0.30.0
networkx==3.4.2
owlready2==0.48
pandas==2.3.1
rdflib==7.1.4
scipy==1.15.2
