name: Link Checker
on:
  pull_request:
    paths:
      - '**/*.md'
      - .github/workflows/linkchecker.yml
      - pyproject.toml
  workflow_dispatch:

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip uv
          uv sync --dev 

      - name: Build Site
        run: |
          uv run mkdocs build --verbose --clean --config-file mkdocs.yml

      - name: Check links
        run: |
          uv run linkchecker site/index.html
