name: "Lint Markdown (all)"

on: 
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: DavidAnson/markdownlint-cli2-action@v21
      with:
        globs: |
          *.md
          !test/*.md
