name: "Lint Markdown (Changes)"
on:
  push:
    paths:
      - '**/*.md'
      - .github/workflows/lint_md_changes.yml
  pull_request:
    paths:
      - '**/*.md'
      - .github/workflows/lint_md_changes.yml

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a
      id: changed-files
      with:
        files: '**/*.md'
        separator: ","
    - uses: DavidAnson/markdownlint-cli2-action@v22
      if: steps.changed-files.outputs.any_changed == 'true'
      with:
        globs: ${{ steps.changed-files.outputs.all_changed_files }}
        separator: ","
        config: .markdownlint-cli2.yaml
        
