# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
    paths:
      - vultron/**
      - test/**
      - pyproject.toml
      - .github/workflows/python-app.yml
  pull_request:
    branches: [ "main" ]
    paths:
      - vultron/**
      - test/**
      - pyproject.toml
      - .github/workflows/python-app.yml

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-tags: true
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip uv 
        uv sync --dev --frozen
    - uses: psf/black@stable
    - name: Test with pytest
      run: |
        uv run pytest
    - name: Build
      run: |
        uv build
    - name: Upload Artifacts
      uses: actions/upload-artifact@v5
      with:
        name: vultron
        path: dist/vultron-*.tar.gz
        retention-days: 14
